.post-content {
    max-width: 1200px;
    margin: auto;
}

.full-blog-list{
    .blog-link.blog-card {
        flex-basis: 33.3333%;

        @include media-query($medium-large){
            flex-basis: 50%;
        }

        @include media-query($small-width){
            flex-basis: 60%;
            margin: auto;
        }
    }
}

.featured-link-container {
    overflow: hidden;
}

.featured-link-container {
    position: relative;
}

.latest-posts .featured-link-container h2 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.featured-link-container
 .highlight {
    height: 50%;
    width: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    background: #97D8B2;
    transform: rotate(45deg);

    @include media-query($small-width) {
        height: 60%;
        width: 60%;
    }
}

.latest-posts{
    max-width: 1200px;
    margin: auto;

    @include media-query($medium-large){
        padding-left: 25px;
        padding-right: 25px;
    }

    .featured-link-container{
        padding: 50px;
        margin-bottom: 50px;

        @include media-query($small-width) {
            padding: 50px 25px;
            flex-basis: 100%;
        }
    }

    .featured-link-container {
        flex-basis: 85%;
        margin: auto;
        margin-top: 50px;

        h2{
            text-align: center;
            color: #fefefa;
            text-transform: uppercase;
            margin: 0;

            @include media-query($small-width) {
                font-size: 1.25em
            }

            i.fa.fa-star {
                padding: 5px;
            }
        }
    }

    &.blog-page-posts{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}

.blog-page-posts .featured-link .post-info h3{
    font-size: 2.5em;
    line-height: 1em;

    @include media-query($super-small-width){
        font-size: 1.5em;
    }
}

.featured-post .post-info .post-break {
    margin-top: 1em;
    margin-bottom: 1em;

    @include media-query($super-small-width){
        font-size: 0.8em;
    }
}

.latest-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-list{
  text-align: left;
}

