.post-break .icon-container::before{
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  background: #fff;
  left: -55px;
  top: 50%;
}

.post-break .icon-container::after{
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  background: #fff;
  right: -55px;
  top: 50%;
}

.icon-container {
    display: inline-block;
    position: relative;
}

.icon-container::before {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    position: absolute;
    background: #97D8B2;
    left: -210px;
    top: 50%;
}

.icon-container::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    position: absolute;
    background: #97D8B2;
    right: -210px;
    top: 50%;
}

.blog-link {
    position: relative;

    img{
        width: 100%;
        height: 100%;
    }

    a{
        color: #444;

        &:hover{
            color: $highlight-color;
        }
    }
}

.full-blog-list .blog-link.blog-card:not(.featured-link) h3 {
    font-size: 1.5em;
    line-height: 1em;
}

.full-blog-list .blog-link.blog-card:not(.featured-link) span {
    font-size: 1em;
    line-height: 1em;
}

.full-blog-list .blog-link.blog-card:not(.featured-link) .back p {
    right: 10%;
    bottom: 5%;
    font-size: 1.2em;
}

article.post .blog-link{
    a{
        color: #444;

        &:hover{
            color: $highlight-color;
        }
    }
}

.featured-link-container{
    .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    }
}

.post-info {
    color: #444;
    opacity: 0.8;
    font-family: 'Caveat', cursive;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    .random-rotate{
        -ms-transform: rotate(random(20) - 10 + deg); /* IE 9 */
        -webkit-transform: rotate(random(20) - 10 + deg); /* Safari */
        transform: rotate(random(20) - 10 + deg);
    }
}

.back .post-info p {
    position: absolute;
    right: 15%;
    bottom: 15%;
    font-size: 1.5em;
}

.info-wrapper {
    padding: 50px;
    text-align: left;
    flex-basis: 75%;

    @include media-query($small-width){
        padding: 25px;
    }
}

.image-wrapper {
    position: relative;
    overflow: visible;
}