---
layout: default
---
<header class="post-header blog-post-content">
	<div class="banner-container parallax-banner" style="background-image:url({{page.images[0].url | prepend: site.baseurl}})">
		<h3><span>{{page.title}}</span></h3>
	</div>
</header>
<div class="blog-post-container">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% if site.comments %}
        {% if site.disqus_shortname %}
          {% include disqus_comments.html %}
        {% endif %}
      {% endif %}
    </article>
  </div>
</div>
